<div class="share">
    <p>
        
    </p>
    <ul>

        <li class="ml-1 mr-1">
            <a target="_blank" href="{{ site.baseurl }}/" onclick="window.open(this.href, 'width=550,height=435');return false;">
                <i class="fas fa-home"></i>
            </a>
        </li>
        
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://github.com/HanfeiChen" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fab fa-github"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100005442558688" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.linkedin.com/in/hanfei-chen-766742150/" onclick="window.open(this.href, 'width=550,height=435');return false;">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>



    </ul>
</div>

